{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport"
        content="width=device-width, initial-scale=1.0">

    <title>FoodGo - Register</title>

    <link rel="stylesheet"
        href="{% static 'style.css' %}">

</head>

<body>

    <header>

        <h1>FoodGo</h1>

    </header>


    <main>

        <div class="register-card">

            <h2>Create FoodGo Account</h2>


            <label>
                Full Name
            </label>

            <input
                type="text"
                id="name"
                placeholder="Enter your full name"
            >


            <label>
                Mobile Number
            </label>

            <input
                type="tel"
                id="mobile"
                placeholder="Enter 10-digit mobile number"
                maxlength="10"
            >


            <label>
                Email
            </label>

            <input
                type="email"
                id="email"
                placeholder="Enter your email"
            >


            <label>
                Password
            </label>

            <input
                type="password"
                id="password"
                placeholder="Create a password"
            >


            <label>
                Delivery Address
            </label>

            <textarea
                id="address"
                placeholder="Enter your delivery address"
            ></textarea>


            <button
                onclick="registerUser()"
            >
                Create Account
            </button>


            <p id="message"></p>


            <p>

                Already have an account?

                <a href="/login/">
                    Login
                </a>

            </p>

        </div>

    </main>


    <script>

        const API_BASE_URL =
            "/api";


        async function registerUser() {

            const name =
                document.getElementById(
                    "name"
                ).value.trim();


            const mobile =
                document.getElementById(
                    "mobile"
                ).value.trim();


            const email =
                document.getElementById(
                    "email"
                ).value.trim();


            const password =
                document.getElementById(
                    "password"
                ).value;


            const address =
                document.getElementById(
                    "address"
                ).value.trim();


            const message =
                document.getElementById(
                    "message"
                );


            if (name === "") {

                message.innerText =
                    "Please enter your name.";

                return;

            }


            if (
                mobile.length !== 10 ||
                isNaN(mobile)
            ) {

                message.innerText =
                    "Please enter a valid 10-digit mobile number.";

                return;

            }


            if (email === "") {

                message.innerText =
                    "Please enter your email.";

                return;

            }


            if (password.length < 6) {

                message.innerText =
                    "Password must contain at least 6 characters.";

                return;

            }


            if (address === "") {

                message.innerText =
                    "Please enter your delivery address.";

                return;

            }


            try {

                const response =
                    await fetch(
                        API_BASE_URL +
                        "/customers/",
                        {

                            method: "POST",

                            headers: {
                                "Content-Type":
                                    "application/json"
                            },

                            body:
                                JSON.stringify({

                                    mobile: mobile,

                                    name: name,

                                    email: email,

                                    address: address

                                })

                        }
                    );


                const data =
                    await response.json();


                if (!response.ok) {

                    if (data.mobile) {

                        message.innerText =
                            "This mobile number is already registered.";

                    } else {

                        message.innerText =
                            "Unable to create account.";

                    }

                    return;

                }


                localStorage.setItem(
                    "foodgoCustomerId",
                    data.id
                );


                localStorage.setItem(
                    "foodgoMobile",
                    data.mobile
                );


                localStorage.setItem(
                    "foodgoCustomerName",
                    data.name || ""
                );


                localStorage.setItem(
                    "foodgoLoggedIn",
                    "true"
                );


                message.innerText =
                    "Account created successfully!";


                setTimeout(
                    function() {

                        window.location.href =
                            "/restaurants/";

                    },
                    1000
                );


            } catch (error) {

                console.error(error);

                message.innerText =
                    "Unable to connect to FoodGo server.";

            }

        }

    </script>

</body>

</html>